body
{
    background-color: rgb(243, 244, 245);
}
#Div_View
{
    border: solid 0px red;
    min-height: 448px;
}
#Div_View #Table_Zone
{
    border: solid 0px red;
    border-bottom: solid 2px rgb(217, 237, 247);
    height: 413px;
    margin-top: 5px;
    overflow-y: auto;   
}
#Table_Zone .col-md-12{
    padding-right: 0px;
}
#Div_View table
{
    width:100%;
}
#Table_Zone tr:hover, #Table_Zone tr.actived
{
    background-color: #fafafa;
    cursor:pointer;
}
#Div_View table th
{
    text-align: center;
    font-size: 16px;
    background-color: rgb(217, 237, 247);
}
#Div_View table td
{
   text-align: center;
   font-weight: bold;
}
#Action_Zone
{
    margin-top: 18px;
    border: solid 0px red;
}
#Action_Zone button
{
    font-weight: bold;
}